<!-- templates/items.html -->

{% include 'head.html' %}

<body class="bg-gray-100">

  <div class="container mx-auto px-4 py-8">

    {% include 'nav.html' %}

    <h2 class="text-xl font-semibold mb-4">Items</h2>

    <table aria-describedby="Items" class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Name
          </th>
          <th
            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Description
          </th>
          <th class="px-6 py-3 bg-gray-50"></th> <!-- Empty column for buttons -->
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for item in items %}
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap">
            {{ item.name }}
          </td>
          <td class="px-6 py-4 whitespace-no-wrap">
            {{ item.description }}
          </td>
          <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Edit</button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="/items" method="post" class="mt-8">
      <h3 class="text-xl font-semibold mb-4">Add new item</h3>
      <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
      <input type="text" id="name" name="name" class="w-full px-3 py-2 border rounded-lg mb-4" required>
      <label for="description" class="block text-gray-700 font-bold mb-2">Description:</label>
      <textarea id="description" name="description" class="w-full px-3 py-2 border rounded-lg mb-4" required></textarea>
      <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add item</button>
    </form>

  </div>

</body>

</html>